*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:0;
    margin: 0;
}
body{
    background-color: rgb(167, 167, 167);
}
header{
    justify-content: center;
    display: grid;
    background-image: linear-gradient(to right,rgb(102, 102, 218) , rgb(0, 0, 142));
    padding: 1%;
}
h1{
    margin: auto;

}
.parent{
    position: relative;
}
h2{
    width: 25%;
}
.activeBox{
    border:3px solid black;
    padding: 5%;
    position: absolute;
    left:30%;
    top: 20%;
    width: 50%;
    background-color: rgb(102, 102, 218);
}
.formTotal{
    margin-left: 2%;
}
.searchform{
    max-width: 40%;
    min-width: 10%;
    display: flex;
    flex-direction: column;
}
button{
    width: 180px;
    height: 22px;
    border: 0;
    border-radius: 7px;
    background-color: lightblue;
    
}
h3, h5 {
    padding: 1%;
}
ul{
    list-style-type: none;
    margin-top: 3%;
}
li{
    border: 3px solid rgb(0, 0, 142);
    border-radius: 5px;
    padding: 2px;
    margin-left: 2%;
    font-size: 18px;
    font-weight: bold;
    display: inline;
}
.forcastDays{
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}
.dayOfWeek{
    margin: 2%;
    padding: 2%;
    border: 3px solid black;
    background-color:rgb(102, 102, 218);
}